In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import zipfile
import pandas as pd

# Path to your zip file
zip_file_path = r'C:\Users\Shriya\AppData\Local\Temp\ad438569-d2f9-4932-8421-62df419b3869_bank+marketing.zip.869\bank.zip'

# Extract the CSV file from the ZIP archive
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    # List contents of the ZIP file (optional)
    zip_contents = zip_ref.namelist()
    print(zip_contents)  # Check if 'bank.csv' is listed
    
    # Extract 'bank.csv' to a temporary directory or specific path
    zip_ref.extract('bank.csv', path='C:\\Users\\Shriya\\AppData\\Local\\Temp\\extracted_files')  # Adjust path as needed

# Path to the extracted CSV file
extracted_csv_path = r'C:\Users\Shriya\AppData\Local\Temp\extracted_files\bank.csv'

# Read the extracted CSV into pandas DataFrame
df = pd.read_csv(extracted_csv_path)

# Now 'df' contains the data from 'bank.csv' inside 'bank.zip'
import zipfile
import pandas as pd

# Path to your zip file
zip_file_path = r'C:\Users\Shriya\AppData\Local\Temp\ad438569-d2f9-4932-8421-62df419b3869_bank+marketing.zip.869\bank.zip'

# Extract the CSV file from the ZIP archive
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    # List contents of the ZIP file (optional)
    zip_contents = zip_ref.namelist()
    print(zip_contents)  # Check if 'bank.csv' is listed
    
    # Extract 'bank.csv' to a temporary directory or specific path
    zip_ref.extract('bank.csv', path='C:\\Users\\Shriya\\AppData\\Local\\Temp\\extracted_files')  # Adjust path as needed

# Path to the extracted CSV file
extracted_csv_path = r'C:\Users\Shriya\AppData\Local\Temp\extracted_files\bank.csv'

# Read the extracted CSV into pandas DataFrame
df = pd.read_csv(extracted_csv_path)

# Now 'df' contains the data from 'bank.csv' inside 'bank.zip'

['bank-full.csv', 'bank-names.txt', 'bank.csv']
['bank-full.csv', 'bank-names.txt', 'bank.csv']

In [4]:
df.head()

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  30;"unemployed";"married";"primary";"no";1787;...
1  33;"services";"married";"secondary";"no";4789;...
2  35;"management";"single";"tertiary";"no";1350;...
3  30;"management";"married";"tertiary";"no";1476...
4  59;"blue-collar";"married";"secondary";"no";0;...

In [5]:
df.tail()

     age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
4516  33;"services";"married";"secondary";"no";-333;...
4517  57;"self-employed";"married";"tertiary";"yes";...
4518  57;"technician";"married";"secondary";"no";295...
4519  28;"blue-collar";"married";"secondary";"no";11...
4520  44;"entrepreneur";"single";"tertiary";"no";113...

In [6]:
df.shape

(4521, 1)

In [7]:
df.columns

Index(['age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"'], dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 1 columns):
 #   Column                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                --------------  -----
 0   age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"  4521 non-null   object
dtypes: object(1)
memory usage: 35.4+ KB

In [9]:
df.describe()

       age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
count                                                4521
unique                                               4521
top     30;"unemployed";"married";"primary";"no";1787;...
freq                                                    1

In [10]:
df.isnull().sum()

age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"    0
dtype: int64

In [13]:
print(df.columns)

Index(['age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"'], dtype='object')

In [17]:
import zipfile

# Path to your zip file
zip_file_path = r'C:\Users\Shriya\AppData\Local\Temp\ad438569-d2f9-4932-8421-62df419b3869_bank+marketing.zip.869\bank.zip'

# Extract the CSV file from the ZIP archive
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extract('bank.csv', path=r'C:\path\to\extract\directory')  # Adjust path as needed

# Path to the extracted CSV file
extracted_csv_path = r'C:\path\to\extract\directory\bank.csv'

# Read the extracted CSV into pandas DataFrame
df = pd.read_csv(extracted_csv_path)

# Now check the column names again
print(df.columns)

Index(['age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"'], dtype='object')

In [19]:
import matplotlib.pyplot as plt
import seaborn as sns

# Example: Assuming 'education' is a categorical column in your DataFrame
plt.figure(figsize=(16, 9))
sns.countplot(x='job', data=df)
plt.title('Countplot of Education')
plt.show()

ValueError: Could not interpret value `job` for `x`. An entry with this name does not appear in `data`.